@model PragatiYarn.Models.ViewModel.AddCustomerViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Customer</title>
    <link href="~/Content/css/960_1.css" rel="stylesheet" />
    <link href="~/Content/css/template.css" rel="stylesheet" />
    <link href="~/Content/css/colour.css" rel="stylesheet" />
    <link href="~/Content/css/jmenu.css" rel="stylesheet" />
    @*<link href="~/Content/css/bootstrap.css" rel="stylesheet" />*@
    <script src="~/Content/script/jquery-1.10.2.js"></script>
    <script src="~/Content/script/jquery-ui.js"></script>
    <script src="~/Content/script/jMenu.jquery.js"></script>
    <script src="~/Content/script/bootstrap.js"></script>
    <script src="~/Content/script/jquery.validate.min.js"></script>
    <script src="~/Content/script/jquery.validate.unobtrusive.min.js"></script>
    <style>
        select {
            font-family: cursive;
            font-size: 17px;
        }
        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.428571429;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-user-select: none;
        }

        .btn-primary {
            color: #ffffff;
            background-color: #428bca;
            border-color: #357ebd;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            // simple jMenu plugin called
            $("#jMenu").jMenu();

            // more complex jMenu plugin called
            $("#jMenu").jMenu({
                openClick: false,
                ulWidth: "10%",
                effects: {
                    effectSpeedOpen: 150,
                    effectSpeedClose: 150,
                    effectTypeOpen: 'slide',
                    effectTypeClose: 'slide',
                    effectOpen: 'linear',
                    effectClose: 'linear'
                },
                TimeBeforeOpening: 100,
                TimeBeforeClosing: 11,
                animatedText: false,
                paddingLeft: 1
            });
        });
</script>
</head>
<body>
    <h1 id="head">Pragati Yarn <a href="/Home/LogOut" style="float: right">Log Out</a></h1>
    @*<ul id="navigation">
        <li><span class="active">Add Customer</span></li>
        <li><a href="/Home/ViewCustomers">View All Customers</a></li>
        <li><a href="/Home/AddStock">Add Stocks</a></li>
        <li><a href="/Home/ViewStocks">View Stocks</a></li>
        <li><a href="/Home/AddNewMaterial">Add New Material</a></li>

        @if (int.Parse(Session["UserId"].ToString()) == 1)
        {
        <li><a href="/Home/AddUser">Add New User</a></li>
            
        }
    </ul>*@
   <div id="navigation">   
    <ul id="jMenu">
        <li><a>Customer</a>
            <ul>
                <li><a href="/Home/ViewCustomers" style="text-decoration:none">View Customers</a></li>
                <li><a href="/Home/AddCustomer" style="text-decoration:none">Add Customer</a></li>
                <li><a href="/Home/Payment" style="text-decoration: none">Add Customer Payment</a></li>
                <li><a href="/Home/CustomerPayment" style="text-decoration: none">Customer Credit Report</a></li>
                    <li><a href="/Home/PaymentHistory" style="text-decoration: none">Payment History</a></li>
                    <li><a href="/Home/AddCustomerCredit" style="text-decoration: none">Add Customer Credit</a></li>
                <li><a href="/Home/CustomersCreditReport" style="text-decoration: none">All Customer Credits</a></li>
                
            </ul>
        </li>
         <li><a>Stocks</a>
            <ul>
                <li><a href="/Home/AddStock" style="text-decoration:none">Add Stocks</a></li>
                <li><a href="/Home/ViewStocks" style="text-decoration:none">View Stocks</a></li>
                
            </ul>
        </li>
        <li><a>Materials</a>
            <ul>
                <li><a href="/Home/AddNewMaterial" style="text-decoration:none">Add Material</a></li>
                <li><a href="/Home/ViewMaterials" style="text-decoration:none">View Materials</a></li>
                
            </ul>
        </li>
        @if (int.Parse(Session["UserId"].ToString()) == 1)
        {
        <li><a href="/Home/AddUser" style="text-decoration:none">Add New User</a></li>
            
        }
          <li><a>Sale</a>
                <ul>
                    <li><a href="/Home/sales" style="text-decoration: none">Sales</a></li>
                    <li><a href="/Home/ReturnSales" style="text-decoration: none">Return Sales</a></li>
                    <li><a href="/Home/DailyInvoice" style="text-decoration: none">Daily Invoice</a></li>
                    <li><a href="/Home/MonthlyInvoice" style="text-decoration: none">Monthly Invoice</a></li>

                </ul>
            </li>
          @if (int.Parse(Session["UserId"].ToString()) == 1)
            {
                <li><a href="/Home/ChangeRate" style="text-decoration: none">Change Rate</a></li>
            }
    </ul>
</div>
    <div id="content" class="container_16 clearfix">
        @using (Html.BeginForm("EditCustomer", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="grid_16">
                <h2>Add New Customer</h2>
            </div>
            <span style="color: green; font-size: 18px;">@ViewBag.Message </span>
            <br />
            <span style="color: red; font-size: 18px;">@ViewBag.error</span>
            <br />
            <div class="grid_16">
                <p>
                     @if (Model.CustomerImagePath != "" && Model.CustomerImagePath != null)
                     {
                    <img src="@Url.Content(Model.CustomerImagePath)" height="150" width="150" />
                     }
                     else
                     {
                        <img src="~/Content/images/no-Image.png" height="150" width="150" />
                     }

                </p>
            </div><br />
            <div class="grid_5">
                <p>
                    <label for="title">Customer Surname </label>
                    @Html.TextBoxFor(a => a.CustomerSurName, new { @placeholder = "Customer SurName", @id = "txt2CustSur" })<br>
                    @Html.ValidationMessageFor(m => m.CustomerSurName, "", new { @style = "color:red;" })

                </p>
            </div>

            <div class="grid_5">
                <p>
                    <label for="title">Customer Name </label>
                    @Html.TextBoxFor(a => a.CustomerName, new { @placeholder = "Customer Name", @id = "txt2CustName" })<br />
                    @Html.ValidationMessageFor(m => m.CustomerName, "", new { @style = "color:red;" })
                </p>

            </div>
            <div class="grid_16">
                <p>
                    <label>Customer FirmName </label>
                    @Html.TextBoxFor(a => a.FirmName, new { @placeholder = "Firm Name", @id = "txt2CustName" })<br />
                    @Html.ValidationMessageFor(m => m.FirmName, "", new { @style = "color:red;" })
                </p>
            </div>
            <div class="grid_16">
                <p>
                    <label>Address </label>
                    @Html.TextAreaFor(a => a.Address, new { @placeholder = "Address", @id = "txt2CustAdd" })<br />
                    @Html.ValidationMessageFor(m => m.Address, "", new { @style = "color:red;" })
                </p>
            </div>
            <div class="grid_16">
                <p>
                    <label>Mobile Num </label>
                    @Html.TextBoxFor(a => a.MobileNumber, new { @placeholder = "Mobile Number", @id = "txt2CustMob", @style = "width:35%;" })<br />
                    @Html.ValidationMessageFor(m => m.MobileNumber, "", new { @style = "color:red;" })
                </p>
            </div>
            <div class="grid_16">
                <p>
                    <label>Select Customer Image<small></label>
                    <input type="file" id="file" name="ProfImage" style="width: 35%;" />
                   

                </p>
                <p class="submit">
                    <button type="submit" class="btn btn-primary" value="Update Customer">Update Customer</button>
                </p>
            </div>
        }
    </div>


    @*<div id="foot">
        <a href="#">Contact Me</a>
    </div>*@
    @*<div style="margin-top: 10%; margin-left: 30%">
        <h2 style="margin-left: 12%">Add Customer</h2>
        <br />
        <span style="color: green">@ViewBag.Message </span>
        <br />
        <span style="color: red">@ViewBag.error</span>
        @using (Html.BeginForm("AddCustomer", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <table style="width: 100%; text-align: left">
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(m => m.CustomerSurName, "", new { @style = "color:red;margin-left: 4.5%;" })</td>
                </tr>

                <tr>
                    <td style="width: 20%;">@Html.LabelFor(a => a.CustomerSurName)</td>
                    <td>@Html.TextBoxFor(a => a.CustomerSurName, new { @placeholder = "Customer SurName", @id = "txt2CustSur", @style = "margin-left: 5%;width:35%;" })</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(m => m.CustomerName, "", new { @style = "color:red;margin-left: 4.5%;" })</td>
                </tr>
                <tr>
                    <td style="width: 20%;">@Html.LabelFor(a => a.CustomerName)</td>
                    <td>@Html.TextBoxFor(a => a.CustomerName, new { @placeholder = "Customer Name", @id = "txt2CustName", @style = "margin-left: 5.4%;width:35%;" })</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(m => m.Address, "", new { @style = "color:red;margin-left: 4.5%;" })</td>
                </tr>
                <tr>
                    <td style="width: 20%;">@Html.LabelFor(a => a.Address)</td>
                    <td>@Html.TextAreaFor(a => a.Address, new { @placeholder = "Address", @id = "txt2CustAdd", @style = "margin-left: 5.4%;width:35%;" })</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(m => m.MobileNumber, "", new { @style = "color:red;margin-left: 4.5%;" })</td>
                </tr>
                <tr>
                    <td style="width: 20%;">@Html.LabelFor(a => a.MobileNumber)</td>
                    <td>@Html.TextBoxFor(a => a.MobileNumber, new { @placeholder = "Mobile Number", @id = "txt2CustMob", @style = "margin-left: 5.4%;width:35%;" })</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="width: 20%;"><b>Select Customer Image</b></td>
                    <td>
                        <input type="file" id="file" name="ProfImage" style="margin-left: 5.2%;" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>

                <tr>

                    <td></td>
                    <td>
                        <br />
                        <button class="btn btn-primary" style="width: 20.5%; margin-left: 5.5%;" type="submit" id="signupbtn">Add Customer</button></td>
                </tr>
            </table>
        }

    </div>*@
</body>
</html>
